body {
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 24px;
}

.content {
    padding: 20px;
}

.week {
    border-top: 1px solid #ccc;
}

.week-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week-header h2 {
    font-size: 18px;
}

.week-header h3 {
    font-size: 16px;
    color: #888;
}

.week-days {
    display: flex;
    flex-wrap: wrap;
}

.day {
    flex: 1 1 160px;
    margin-bottom: 20px;
}

.day h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.day .to-do {
    padding: 10px 0;
}

.day .to-do input[type="checkbox"] {
    margin-right: 5px;
}

.day .to-do input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
}

.day .to-do input[type="text"]:focus {
    outline: none;
    border-color: #444;
}

.day .to-do label {
    font-size: 14px;
    color: #888;
}

footer {
    text-align: center;
    padding: 20px 0;
}